[submodule "caravel-lite"]
	path = caravel
	url = https://github.com/efabless/caravel-lite
[submodule "mflowgen"]
	path = mflowgen/mflowgen
	url = https://github.com/mflowgen/mflowgen
[submodule "SKY130_ADK"]
	path = mflowgen/SKY130_ADK
	url = https://github.com/heavySea/skywater-130nm-adk
